#*
 * Copyright 2012 LinkedIn Corp.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
*#

<div class="modal modal-wide" id="batch-sla-options">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">$batchSetSlaTitle</h4>
      </div>
      <div class="modal-body">
        <h4>$alertEmailAddress</h4>
        <fieldset>
          <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="batch-sla-via-department" name="batchSlaViaDepartment" value="batchSlaViaDepartment">
                  $sendAlertToDep
                </label>
              </div>
            <label>$alertEmailAddress</label>
            <textarea id="batchSlaEmails" placeholder="$alertUserInputTips" class="form-control"></textarea>
          </div>
        </fieldset>
        <h4>$ruleTimeoutAlertSet</h4>
        <table class="table table-striped" id="batchFlowRulesTbl">
          <thead>
          <tr>
            <th>$flow</th>
            <th>$ruleAlert</th>
            <th>$timeout(In HH:MM eg. kill in 10 minutes is 00:10)</th>
            <th>$alertLevel</th>
            <th>$sendemail</th>
            <th>$stopFlow</th>
            <th>$operate</th>
          </tr>
          </thead>
          <tbody>
          <tr id="addRow">
            <td id="addRow-col" colspan="7">
              <span class="addIcon"></span>
              <button type="button" class="btn btn-xs btn-success" id="batch-add-btn">$addOneLine</button>
            </td>
          </tr>
          </tbody>
        </table>
        <h4>$flowEventAlertRuleSet</h4>
        <div id="editTable">
          <table class="table table-striped" id="batchFinishRulesTbl">
            <thead>
            <tr>
              <th>$flow</th>
              <th>$ruleAlert</th>
              <th>$alertLevel</th>
              <th>$operate</th>
            </tr>
            </thead>
            <tbody>
            <tr id="addRow">
              <td id="addRow-col" colspan="6">
                <span class="addIcon"></span>
                <button type="button" class="btn btn-xs btn-success" id="batch-finish-add-btn">$addOneLine</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">$cancel</button>
        <button type="button" class="btn btn-primary" id="batch-set-sla-btn">$createorUpdateAlert</button>
      </div>
    </div>
  </div>
</div>

##结束工作流会话框
<div class="modal" id="batch-set-sla-valid-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="batch-set-sla-close-btn">&times;</button>
        <h4 id="batch-set-sla-valid-title" class="modal-title">$batchSetSla</h4>
      </div>
      <div class="modal-body">
        <p><strong>$sysTips</strong> $tipsSetAlert</p>
      </div>
      <div class="modal-footer">
        <form id="delete-form">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="batch-set-sla-cancel-btn">$cancel</button>
          <button type="button" class="btn btn-danger" id="batch-set-sla-valid-btn">$executeSet</button>
        </form>
      </div>
    </div>
  </div>
</div>
