#*
 * Copyright 2012 LinkedIn Corp.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
*#
<!-- historypage.vm -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
  <meta http-equiv="Expires" content="0">
  #parse("azkaban/webapp/servlet/velocity/style.vm")
  #parse("azkaban/webapp/servlet/velocity/javascript.vm")

  <link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.css?version=1.49.0"/>
    <link href="/css/bootstrap-select.min.css?version=1.49.0" rel="stylesheet">
  <script type="text/javascript">
    var currentTime = ${currentTime};
    var timezone = "${timezone}";
    var errorMessage = null;
    var successMessage = null;
    var langType = "${currentlangType}";

    $(document).ready(function () {
        $("#executingJobs").tablesorter();
    });


    $(document).ready(function () {
      $("#pageSizeSelect").select2({
        minimumResultsForSearch: Infinity
      });
    });

    var searchCondition = "";
  </script>
  <script type="text/javascript" src="/js/azkaban/util/utils.js?version=1.49.0"></script>

  <script type="text/javascript" src="/js/moment-2.29.4.min.js?version=1.49.0"></script>
  <script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js?version=1.49.0"></script>
  <script type="text/javascript" src="/js/azkaban/i18n-config.js?version=1.49.0"></script>
  <script type="text/javascript" src="/js/azkaban/view/history.js?version=1.49.0"></script>
  <script type="text/javascript" src="/js/jquery/jquery.tablesorter.js?version=1.49.0"></script>
  <script type="text/javascript" src="/js/azkaban/util/job-status.js?version=1.49.0"></script>

  <script type="text/javascript" src="/js/azkaban/view/table-sort.js?version=1.49.0"></script>
  <script src="/js/select2/select2.js?version=1.49.0"></script>
  <script type="text/javascript" src="/js/bootstrap-select.js?version=1.49.0"></script>
</head>
<body>

  #set ($current_page="history")
  #parse ("azkaban/webapp/servlet/velocity/nav.vm")

  #if ($errorMsg)
    #parse ("azkaban/webapp/servlet/velocity/errormsg.vm")
  #else

  ## Page header.

  <div class="az-page-header">
    <div class="container-full">
      <div class="row">
        <div class="header-title">
          <h1><a href="/history">$flowExecHistory</a></h1>
        </div>
        <div class="header-control">
            <div class="form-group">
              <div class="input-group">
              <input type="text" id="searchtextbox"
                     placeholder="${floworprogramNameIncl}" value=#if($search_term) "$esc.html(${search_term})" #else
                "" #end class="form-control input-sm" name="searchterm">
                <span class="input-group-btn">
                  <button id="quick-serach-btn" type="button" class="btn btn-primary btn-sm">$quickSearch</button>
                  <button type="button" class="btn btn-success btn-sm margin-l10 " id="adv-filter-btn">$advancedFilter</button>
                  <button type="button" class="btn btn-success btn-sm margin-l10 " id="batch-reRun-btn">$batchrerun</button>
                  <button type="button" class="btn btn-success btn-sm margin-l10 " id="batch-download-btn">$batchExport</button>
                </span>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-full" id="history-view-div">

    ##parse ("azkaban/webapp/servlet/velocity/alerts.vm")

    <div class="row">
      <div class="col-xs-12">
        <i>$clickColumntoRank</i>
        <table id="executingJobs"
               class="table table-striped table-bordered table-hover table-condensed executions-table">
          <thead>
          <tr>
            <th class="checkbox-th"><div id="selectAllFlowBox" class="head-checkbox-box"> <input type="checkbox" id="selectAllFlowcheckbox" value="all"></div></th>
            <th>#</th>
            <th class="execid">$execId</th>
            <th>$flow</th>
            <th>$program</th>
            <th>$user</th>
            <th class="date">$startTime</th>
            <th class="date">$endTime</th>
            <th class="date">$runBatchDate</th>
            <th class="elapse checkbox-th" style="min-width: 70px;"><div id="executionTimeHeader" class="head-checkbox-box">$timeOfExec</div></th>
            <th class="status">$execstatus</th>
            <th class="col-xs-1">$flowexecType</th>
            <th style="min-width: 40px;">$comment</th>
            <!--
            <th class="col-xs-1">$operation</th>-->
          </tr>
          </thead>
          <tbody id="historyTbody">
          </tbody>
        </table>
        <div>
          <table id="pageTable">
                #parse ("azkaban/webapp/servlet/velocity/commonPagination.vm")
          </table>
        </div>
      </div><!-- /col-xs-12 -->
    </div><!-- /row -->

  ## Advanced Filter Modal.

    <div class="modal" id="adv-filter">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
            </button>
            <h4 class="modal-title">$advancedFilter</h4>
            <input id="advfilter" type="text" hidden="hidden">
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" id="adv-filter-error-msg">$error_msg</div>
            <fieldset class="form-horizontal">
              <div class="form-group">
                <label for="projcontain" class="col-sm-2 control-label">$program</label>
                <div class="col-sm-10">
                  <input id="projcontain" type="text" placeholder="${programNameIncl}"
                         value="" class="form-control" name="projcontain">
                </div>
              </div>
              <div class="form-group">
                <label for="flowcontain" class="col-sm-2 control-label">$flow</label>
                <div class="col-sm-10">
                  <input id="flowcontain" type="text" placeholder="${flowNameInclude}"
                         value="" class="form-control" name="flowcontain">
                </div>
              </div>
              <div class="form-group">
                <label for="execIdcontain" class="col-sm-2 control-label">$execId</label>
                <div class="col-sm-10">
                  <input id="execIdcontain" type="text" placeholder="${execIdIncl}"
                         value="" class="form-control" name="execIdcontain">
                </div>
              </div>
              <div class="form-group" id="usercontain-div">
                <label for="usercontain" class="col-sm-2 control-label">$user</label>
                <div class="col-sm-10">
                  <input id="usercontain" type="text" placeholder="${userNameIncl}"
                         value="" class="form-control" name="usercontain">
                </div>
              </div>
               <div class="form-group">
                    <label for="subSystemQuery" class="col-sm-2 control-label">$subsystem</label>
                    <div class="col-sm-10" id="subSystemQueryBox">
                        <select id="subSystemQuery" class="form-control" style="width: 100%">
                        </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="busPathQuery" class="col-sm-2 control-label">$busPath</label>
                    <div class="col-sm-10" id="busPathQueryBox">
                        <select id="busPathQuery" class="form-control" style="width: 100%">
                        </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="departmentSelect" class="col-sm-2 control-label">$department</label>
                    <div class="col-sm-10">
                      <select id="departmentSelect" class="form-control selectpicker" data-live-search="true" title="$departmentName">
                      </select>
                    </div>
                  </div>
              <div class="form-group">
                <label for="status" class="col-sm-2 control-label">$statusI18n</label>
                <div class="col-sm-10">
                  <select id="status" class="select2-status-style" multiple="multiple">
                    <option value=0 selected="selected">All Status</option>
                    <option value=20>Preparing</option>
                    <option value=30>Running</option>
                    <option value=40>Paused</option>
                    <option value=50>Success</option>
                    <option value=60>Killed</option>
                    <option value=70>Failed</option>
                    <option value=80>Failed Finishing</option>
                  </select>
                </div>
              </div>
		          <div class="form-group">
                  <label for="flowType" class="col-sm-2 control-label">$flowTypeI18n</label>
                  <div class="col-sm-10">
                    <select id="flowType" class="form-control">
                      <option value=-1>$all</option>
                      <option value=0>$once</option>
                      <option value=2>$historyReRun</option>
                      <option value=3>$sch</option>
                      <option value=4>$cycleExe</option>
                      <option value=6>$eventSch</option>
                    </select>
                </div>
              </div>
              <div class="form-group" >
                <label for="usercontain" class="col-sm-2 control-label">$flowremark</label>
                <div class="col-sm-10">
                  <input id="flowRemarks" type="text" placeholder="$enterflowremark"
                         value="" class="form-control" name="usercontain">
                </div>
              </div>
              <div class="form-group">
                <label for="runDate" class="col-sm-2 control-label">$runBatchDate</label>
                <div class="col-sm-10">
                  <input type="text" id="runDate" value=""
                         class="ui-datetime-container form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="startDatetimeBegin" class="col-sm-2 control-label">$startTime</label>
                <div class="col-sm-4">
                  <input type="text" id="startDatetimeBegin" value=""
                         class="ui-datetime-container form-control" autocomplete="off">
                </div>
                <label for="startDatetimeEnd"
                       class="col-sm-2 control-label control-label-center">-</label>
                <div class="col-sm-4">
                  <input type="text" id="startDatetimeEnd" value=""
                         class="ui-datetime-container form-control" autocomplete="off">
                </div>
              </div>
              <div class="form-group">
                <label for="endDatetimeBegin" class="col-sm-2 control-label">$endTime</label>
                <div class="col-sm-4">
                  <input type="text" id="endDatetimeBegin" value=""
                         class="ui-datetime-container form-control" autocomplete="off">
                </div>
                <label for="endDatetimeEnd"
                       class="col-sm-2 control-label control-label-center">-</label>
                <div class="col-sm-4">
                  <input type="text" id="endDatetimeEnd" value=""
                         class="ui-datetime-container form-control" autocomplete="off">
                </div>
              </div>
            </fieldset>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">$cancel</button>
            <button class="btn btn-success" id="filter-btn">$fuzzyQuery</button>
            <button class="btn btn-success" id="precise-filter-btn">$accurateQuery</button>
          </div>
        </div>
      </div>
    </div>


    #parse ("azkaban/webapp/servlet/velocity/invalidsessionmodal.vm")
  </div><!-- /container-full -->
  #end
</body>
<html>
