#*
 * Copyright 2012 LinkedIn Corp.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
*#
<!-- index.vm -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
  <meta http-equiv="Expires" content="0">
  #parse("azkaban/webapp/servlet/velocity/style.vm")
  #parse("azkaban/webapp/servlet/velocity/javascript.vm")
  <script type="text/javascript">
    var currentTime = ${currentTime};
    var timezone = "${timezone}";
    var errorMessage = null;
    var successMessage = null;
    var langType = "${currentlangType}";
    var projectChangeLimit = ${projectChangeLimit}
    $(document).ready(function () {
      $("#pageSizeSelect").select2({
        minimumResultsForSearch: Infinity,
        height: 'resolve'
      });

//      $("#orderSelect").select2({
//        minimumResultsForSearch: Infinity,
//        height: 'resolve'
//      });

    });
  </script>
   <script type="text/javascript" src="/js/azkaban/util/utils.js?version=1.49.0"></script>

    <link href="/css/bootstrap-select.min.css?version=1.49.0" rel="stylesheet">
  <script type="text/javascript" src="/js/azkaban/i18n-config.js?version=1.49.0"></script>
  <script type="text/javascript" src="/js/azkaban/view/table-sort.js?version=1.49.0"></script>
  <script type="text/javascript" src="/js/azkaban/view/main.js?version=1.49.0"></script>
  <script src="/js/select2/select2.js?version=1.49.0"></script>
  <script type="text/javascript" src="/js/bootstrap-select.js?version=1.49.0"></script>
  <style type="text/css">

  </style>

</head>
<body>

  #set ($current_page="all")
  #parse ("azkaban/webapp/servlet/velocity/nav.vm")

## Page Header and project search form.

<div class="az-page-header">
  <div class="container-full">
    <div style="display: flex;justify-content: space-between;width: 100%;">
      <div>
        <h1><a href="/index">$programList</a></h1>
      </div>

      <div>
        <form id="search-form" method="get" class="form-inline header-form" role="form">
        ##  <input type="hidden" name="doaction" value="search">
          <div id="order-select" class="form-group">
            <select id="orderSelect" class="form-control select2" style="height: 30px;">
              <option value="orderProjectName">$programRank</option>
              <option value="orderUpdateTimeSort">$updateTimeSort</option>
            </select>
          </div>
         ## #if ($viewProjects == 'all')
         ##   <input type="hidden" name="all" value="true">
         ## #elseif ($viewProjects == 'group')
         ##   <input type="hidden" name="group" value="true">
         ## #elseif ($viewProjects == 'projectDelete')
          ##  <input type="hidden" name="projectDelete" value="true">
        ##  #end
          <div class="form-group">
            <div class="input-group" style="margin-left: 15px;">
             <input type="text" style="display: none">
                <input type="text" id="search-textbox" placeholder="${descorprogramNameIncl}" value="" class="form-control input-sm" name="searchterm" style="width: 500px">
                <span class="input-group-btn">
                  <button id="quickSearchBtn" type="button" class="btn btn-primary btn-sm">$quickSearch</button>
                </span>
        ##    <input id="search-textbox" type="text"
         ##           placeholder="${descorprogramNameIncl}" value=#if($search_term) "$esc.html(${search_term})" #else
         ##      "" #end class="form-control input-sm" name="searchterm">
        ##       <span class="input-group-btn">
           ##          <button id="quickSearchBtn" class="btn btn-sm btn-primary" >$quickSearch</button>
           ##        </span>
            </div>
          </div>

          #if (!$hideCreateProject)
            <div class="form-group" id="create-project">
            ## Note: The Create Project button is not completely flush to the right because
            ## form-group has padding.
              <div class="input-group-btn ">
                <button type="button" id="create-project-btn" class="btn btn-sm btn-success margin-l10"><span
                    class="glyphicon glyphicon-plus"></span> $createProgram
                </button>
                <button type="button" id="project-handover-btn" class="btn btn-sm btn-success margin-l10">$projectHandover</button>
                <button type="button" id="filter-search-btn" class="btn btn-sm btn-success margin-l10">$advanceFilter</button>
                <button type="button" id="project-alarm-btn" class="btn btn-sm btn-success margin-l10">$projectHourlyReport</button>
                <button type="button" id="batch-upload-bussiness-job-btn" class="btn btn-sm btn-success margin-l10">$batchUploadBusinessJob</button>
              </div>
            </div>
          #end
        </form>
      </div>


    </div>
  </div>
</div>

<div class="container-full">

  #parse ("azkaban/webapp/servlet/velocity/alerts.vm")

## Table of projects.

  <div id="project-view" class="row row-offcanvas row-offcanvas-left">

    ## Delete project modal.
    <div class="modal" id="delete-project-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">$deleteProgram</h4>
          </div>
          <div class="modal-body">
            <p><strong>$warn</strong> $warnContent
            </p>
          </div>
          <div class="modal-footer">
            <form id="delete-form">
              <input type="hidden" name="project" value="$project.name">
              <input type="hidden" name="delete" value="true">
              <button type="button" class="btn btn-default" data-dismiss="modal">$cancel</button>
              <button type="button" class="btn btn-danger" id="delete-btn">$deleteProgram</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    ## 提示用户部门权限信息变更会话框
      <div class="modal" id="delete-expand-project-permit-change-panel">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 id="title-delete-expand-project-permit" class="modal-title">$deleteProjectPer</h4>
            </div>
            <div class="modal-body">
              <p id="body-delete-expand-project-permit">$deleteProjectPerContent</p>
            </div>
            <div class="modal-footer">
              <form id="button-delete-expand-project-permit-close">
                <button type="button" class="btn btn-default" data-dismiss="modal">$close</button>
              </form>
            </div>
          </div>
        </div>
      </div>

    <div class="col-xs-6 col-sm-3 sidebar-offcanvas">
      <ul id="project-nav" class="nav nav-pills nav-stacked" >
        <li#if ($viewProjects == 'personal') class="active"#end id="project-personal"><a
            href="javascript:void(0);">$personP</a></li>
        <li#if ($viewProjects == 'all') class="active"#end id="project-all"><a
            href="javascript:void(0);">$allP</a>
        </li>
        <li
             #if ($viewProjects == 'projectDelete')
              class="active"
             #end
              id="project-delete"><a href="javascript:void(0);">$recentlyDeleted</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-9 col-content">
      ##if (!$projects.isEmpty())
        <ul id="project-list">
          <!--
          ##foreach ($project in $projects)
            <li>
              <div class="project-info">
              ## The UI logic elsewhere enforces that $project.name must start with a letter, followed by any number
              ## of letters, digits, '-' or '_'. Escape it just to play it safe.
              ## todo: make escaping the default.
                <h4 style="word-break:break-all;"><a
                    href="javascript:void(0);" onclick="checkHrefUrlXss('/manager?project=${project.name}')">$esc.html($project.name)</a>
                </h4>
                <p class="project-description">$esc.html($project.description)</p>
                <p class="project-last-modified">$projectLastModified1
		              <strong>$project.lastModifiedUser</strong>.
		            </p> $projectLastModified2
                <strong>$utils.formatDate($project.lastModifiedTimestamp)</strong>
                  $projectLastModified3
              </div>
              <div class="project-expander">
                <button class="btn btn-sm btn-danger">
                  <span class="glyphicon glyphicon-trash"></span> $deleteProject
                </button>
              </div>
              <div class="project-expander" id="${project.name}">
                <span class="glyphicon glyphicon-chevron-down project-expander-icon"></span>
              </div>
              <div class="clearfix"></div>
              <div class="project-flows" id="${project.name}-child">
                <h5>$workflowList</h5>
                <div class="list-group" id="${project.name}-tbody">
                  <table id="${project.name}-detail-table">
                  </table>
                </div>
              </div>
            </li>
          ##end
          -->
        </ul>
        <div>
          <table id="pageTable">
            #parse ("azkaban/webapp/servlet/velocity/commonPagination.vm")

          </table>
        </div>

##      #else
##        <div class="callout callout-default">
##          <h4>没有项目</h4>
##          <p>单击创建项目按钮创建一个新项目。</p>
##        </div>
##      #end
    </div>
  </div>

## Modal dialog to be displayed to create a new project.

  <div class="modal" id="create-project-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
          </button>
          <h4 class="modal-title">$createProgram</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger" id="modal-error-msg" style="word-break:break-all;">$error_msg</div>
          <fieldset class="form-horizontal">
            <div class="form-group">
              <label for="path" class="col-sm-2 control-label">$programName</label>
              <div class="col-sm-10">
                <input id="path" name="project" type="text" class="form-control"
                       placeholder="${programName}">
              </div>
            </div>
            <div class="form-group">
              <label for="description" class="col-sm-2 control-label">$programdesc</label>
              <div class="col-sm-10">
                <textarea id="description" type="text" name="description" rows="2" cols="40"
                          class="form-control" placeholder="${programdesc}"></textarea>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <input name="action" type="hidden" value="create">
          <input name="redirect" type="hidden" value="$!context/">
          <button type="button" class="btn btn-default" data-dismiss="modal">$cancel</button>
          <button type="button" class="btn btn-primary" id="create-btn">$create</button>
        </div>
      </div>
    </div>
  </div>
##项目交接 model
<div class="modal in" id="create-handover-modal" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
          </button>
          <h4 class="modal-title">$projectHandover</h4>
        </div>
        <div class="modal-body">
            <h5 style="color: #f0ad4e;">$notice</h5>
            <table class="table table-striped" id="projectHandoverTable">
                        <thead>
                        <tr>
                          <th>$projectName</th>
                          <th>$handoverPersonnel</th>
                          <th>$operation</th>
                        </tr>
                        </thead>
                        <tbody id="project-handover-body">
                        </tbody>
                      </table>
            <input id="projectHandoverDesc" type="text" placeholder="$inputDescription" value="" class="form-control" name="projectHandoverDesc">
        </div>
        <div class="modal-footer">
          <input name="action" type="hidden" value="create">
          <input name="redirect" type="hidden" value="/">
          <button type="button" class="btn btn-default" data-dismiss="modal">$cancel</button>
          <button type="button" class="btn btn-primary" id="project-handover">$commit2</button>
        </div>
      </div>
    </div>
</div>

## 项目小时报 modal
<div class="modal in" id="add-project-alarm-modal" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
          </button>
          <h4 class="modal-title">$projectHourlyReport</h4>
        </div>
        <div class="modal-body">
            <table class="table table-striped" id="projectHandoverTable">
                <thead>
                    <tr>
                        <th  style="width: 323px;">$projectName</th>
                        <th style="width: 130px;">$alerterWay</th>
                        <th style="width: 280px;">$sender</th>
                        <th style="width: 60px;">$operation</th>
                    </tr>
                </thead>
                <tbody id="project-alarm-body"></tbody>
            </table>
            <button type="button" class="btn btn-xs btn-success" id="add-project-alarm">$add</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">$cancel</button>
          <button type="button" class="btn btn-primary" id="submit-project-alarm">$commit2</button>
        </div>
      </div>
    </div>
</div>

##filter model
<div class="modal" id="adv-filter">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
            </button>
            <h4 class="modal-title">$advancedFilter</h4>
            <input id="advfilter" type="text" hidden="hidden">
          </div>
          <div class="modal-body">
           ## <div class="alert alert-danger" id="adv-filter-error-msg">$error_msg</div>
            <fieldset class="form-horizontal">
              <div class="form-group">
                <label for="projcontain" class="col-sm-2 control-label">$project</label>
                <div class="col-sm-10">
                  <input id="projcontain" type="text" placeholder="${programNameIncl}"
                         value="" class="form-control" name="projcontain">
                </div>
              </div>
              <div class="form-group" id="usercontain-div">
                <label for="usercontain" class="col-sm-2 control-label">$createUser</label>
                <div class="col-sm-10">
                  <input id="usercontain" type="text" placeholder="$createUserTip"
                         value="" class="form-control" name="usercontain">
                </div>
              </div>
               <div class="form-group">
                    <label for="subSystemQuery" class="col-sm-2 control-label">$subsystem</label>
                    <div class="col-sm-10" id="subSystemQueryBox">
                        <select id="subSystemQuery" class="form-control" style="width: 100%">
                        </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="busPathQuery" class="col-sm-2 control-label">$busPath</label>
                    <div class="col-sm-10" id="busPathQueryBox">
                        <select id="busPathQuery" class="form-control" style="width: 100%">
                        </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="departmentSelect" class="col-sm-2 control-label">$department</label>
                    <div class="col-sm-10">
                      <select id="departmentSelect" class="form-control selectpicker" data-live-search="true" title="$departmentName">
                       </select>
                    </div>
                  </div>
                  <div class="form-group" >
                  <label for="descriptionCon" class="col-sm-2 control-label">$description</label>
                  <div class="col-sm-10">
                    <input id="descriptionCon" type="text" placeholder="$inputDescription2"
                          value="" class="form-control" name="descriptionCon">
                  </div>
                  </div>
                  <div class="form-group">
                    <label for="jobNameSearch" class="col-sm-2 control-label">$jobname</label>
                    <div class="col-sm-10">
                      <input id="jobNameSearch" type="text" placeholder="$inputDesc"
                            value="" class="form-control" name="jobNameSearch">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="projectSource" class="col-sm-2 control-label">$projectSource</label>
                    <div class="col-sm-10">
                      <select id="projectSource" class="select2-status-style" multiple="multiple">
                        <option value="DSS">DSS</option>
                        <option value="WTSS">WTSS</option>
                      </select>
                    </div>
                  </div>
              </div>
            </fieldset>
             <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">$cancel</button>
              <button class="btn btn-success" id="filter-btn">$commit</button>
            </div>
          </div>

        </div>
      </div>
    </div>
    ##end filter


  #parse ("azkaban/webapp/servlet/velocity/invalidsessionmodal.vm")

## 提示用户创建项目权限是否可用会话框
<div class="modal" id="user-create-project-permit-panel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="title-user-create-project-permit" class="modal-title">$permissionCreP</h4>
      </div>
      <div class="modal-body">
        <p> $permissionCrePC </p>
      </div>
      <div class="modal-footer">
        <form id="button-user-create-project-permit-close">
          <button type="button" class="btn btn-default" data-dismiss="modal">$close</button>
        </form>
      </div>
    </div>
  </div>
</div>

## 上传应用信息
<div class="modal" id="upload-business-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="upload-business-form" enctype="multipart/form-data" method="post"
            action="$!context/manager">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
          </button>
          <h4 class="modal-title">$uploadFile</h4>
        </div>
        <div class="modal-body">
          <fieldset class="form-horizontal">
            <div>
              <label class="upload-button" for="businessfile">$uploadFile</label>
              <input type="file" id="businessfile" name="businessfile"
                     style="position:absolute;clip:rect(0 0 0 0);">
              <span class="upload-file-name" id="businessfilefieldsNameBox">$noFileUploaded</span>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <input type="hidden" name="project" value="$project.name">
          <input type="hidden" name="csrfToken" value="$csrfToken">
          <input type="hidden" name="action" value="uploadBusinessInfo">
          <input type="hidden" name="fileName" value="$noFileUploaded">
          <button type="button" class="btn btn-default" data-dismiss="modal">$cancel</button>
          <button type="button" class="btn btn-primary" id="upload-business-btn">$upload</button>

        </div>
      </form>
    </div>
  </div>
</div>

## 提示用户上传权限信息变更会话框
<div class="modal" id="user-upload-permit-change-panel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="title-user-upload-permit" class="modal-title">$userUploadPerChange</h4>
      </div>
      <div class="modal-body">
        <p id="body-user-upload-permit"> $tipsUserUploadPer</p>
      </div>
      <div class="modal-footer">
        <form id="button-user-upload-permit-close">
          <button type="button" class="btn btn-default" data-dismiss="modal">$close</button>
        </form>
      </div>
    </div>
  </div>
</div>

## 提示用户部门权限信息变更会话框
<div class="modal" id="department-upload-permit-change-panel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="title-dep-upload-permit" class="modal-title">$depUploadPerChange</h4>
      </div>
      <div class="modal-body">
        <p id="body-dep-upload-permit"> $tipsUploadPer</p>
      </div>
      <div class="modal-footer">
        <form id="button-department-upload-permit-close">
          <button type="button" class="btn btn-default" data-dismiss="modal">$close</button>
        </form>
      </div>
    </div>
  </div>
</div>


</div><!-- /container -->
</body>
</html>


