#*
 * Copyright 2012 LinkedIn Corp.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
*#
<!-- jobpage.vm -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
  <meta http-equiv="Expires" content="0">
  #parse ("azkaban/webapp/servlet/velocity/style.vm")
  #parse ("azkaban/webapp/servlet/velocity/javascript.vm")

  <script type="text/javascript">
    var currentTime = ${currentTime};
    var timezone = "${timezone}";
    var errorMessage = null;
    var successMessage = null;

    var projectId = "$project.id";
    var projectName = "$project.name";
    var flowId = "${flowid}";
    var jobName = "$jobid";
    var jobId = "$jobid";
    var langType = "${currentlangType}";
    //var dataSeries = $dataSeries;
    // load cmdb data switch
    var isCmdbLoaded=false;
  </script>
  <link href="/css/bootstrap-select.min.css?version=1.49.0" rel="stylesheet">
  <script type="text/javascript" src="/js/azkaban/util/utils.js?version=1.49.0"></script>
  <script type="text/javascript" src="/js/echarts/echarts.min.js?version=1.49.0"></script>
  <script type="text/javascript" src="/js/raphael.min.js?version=1.49.0"></script>
  <script type="text/javascript" src="/js/morris.min.js?version=1.49.0"></script>
  <script type="text/javascript" src="/js/azkaban/i18n-config.js?version=1.49.0"></script>
  <script type="text/javascript" src="/js/azkaban/view/job-edit.js?version=1.49.0"></script>

  <script type="text/javascript" src="/js/azkaban/util/job-status.js?version=1.49.0"></script>
  <script type="text/javascript" src="/js/azkaban/view/time-graph.js?version=1.49.0"></script>
  <script type="text/javascript" src="/js/bootstrap-select.js?version=1.49.0"></script>
  <script type="text/javascript" src="/js/moment-2.29.4.min.js?version=1.49.0"></script>
  <script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js?version=1.49.0"></script>

</head>
<body>

  #set ($current_page="all")
  #parse ("azkaban/webapp/servlet/velocity/nav.vm")

  #if ($errorMsg)
    #parse ("azkaban/webapp/servlet/velocity/errormsg.vm")
  #else

  ## Page header

  <div class="az-page-header page-header-bare">
    <div class="container-full">
      <div class="row">
        <div class="header-title">
          <h1 style="word-break:break-all;"><a href="javascript:void(0);" onclick="checkHrefUrlXss('/manager?project=${project.name}&flow=${flowid}&job=${jobid}')">$job
            <small>$jobid</small>
          </a></h1>
        </div>
        <div class="header-control">
          <div class="pull-right header-form">
            <a href="javascript:void(0);" onclick="checkHrefUrlXss('/manager?project=${project.name}&job=$jobid&history')"
               class="btn btn-info btn-sm">$history</a>
            <button id="job-business-btn" class="btn btn-sm btn-warning" onclick="handleJobBusiness()">
              <span class="glyphicon glyphicon-pencil"></span> $jobBusiness
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-breadcrumb">
    <div class="container-full" style="word-break:break-all;">
      <ol class="breadcrumb">
        <li><a
            href="javascript:void(0);" onclick="checkHrefUrlXss('/manager?project=${project.name}')"><strong>$program</strong> $project.name
        </a></li>
        <li><a
            href="javascript:void(0);" onclick="checkHrefUrlXss('/manager?project=${project.name}&flow=${flowid}')"><strong>$flow</strong> $flowid
        </a></li>
        <li class="active"><strong>$job</strong> $jobid</li>
      </ol>
    </div>
  </div>

  <script type="text/javascript" src="/js/azkaban/view/hideHead.js?version=1.49.0"></script>

  <div class="container-full">

    #parse ("azkaban/webapp/servlet/velocity/alerts.vm")

    <div class="row row-offcanvas row-offcanvas-right">
      <div class="col-xs-12 col-sm-9">

          <div class="panel">
            <ul class="nav nav-tabs nav-sm" id="headertabs">
              <li id="jobParam"><a href="#jobParam">$jobParam</a></li>
              <li id="jobExecutionsHistory"><a href="#jobExecutions">$exechistory</a></li>
              <li id="applyJobLinkedData"><a href="#linkJobData">$associatedData</a></li>
            </ul>
          </div>


  ## Job details table

        <div class="panel panel-default"  id="jobParamView" style="word-break:break-all;">
          <div class="panel-heading">
            <div class="pull-right">
	    <!--
              <button id="edit-job-btn" class="btn btn-xs btn-primary"
                      onclick='jobEditView.show("${project.name}", "${flowid}", "${jobid}")'>Edit
              </button>-->
            </div>
            $jobParam
            <div id="job-param-notice" class="alert-warning" style="margin:5px"></div>
          </div>

          <table class="table table-striped table-bordered properties-table" id="job-param-table">
            <thead>
            <tr>
              <th class="tb-pname">$paramName</th>
              <th class="tb-pvalue">$paramValue</th>
            </tr>
            </thead>
            <tbody id="job-param-tbody">
            </tbody>
          </table>
        </div>
  ## Job Executions table
  ## Time graph and job history table.

            <div class="panel" id="jobExecutionsView">
              <div class="row">
                <div class="col-xs-12">
                  <div class="well well-clear well-sm" id="timeGraph">
                  </div>

                  <table class="table table-striped table-bordered table-condensed table-hover" id="execTable">
                    <thead>
                    <tr>
                      <th>$execId</th>
                      <th>$flow</th>
                      <th class="date">$startTime</th>
                      <th class="date">$endTime</th>
                      <th class="date">$runBatchDate</th>
                      <th class="elapse">$timeOfExec</th>
                      <th class="status">$status</th>
                      <th class="logLink">$log</th>
                    </tr>
                    </thead>
                    <tbody id="execTableBody">
                    </tbody>
                  </table>

                <table id="pageSelection">
                    #parse ("azkaban/webapp/servlet/velocity/commonPagination.vm")
                </table>
                </div>
              </div><!-- /.container-fill -->
            </div>
            <!-- applyJobLinkedView-->
            <div class="panel" id="applyJobLinkedView">
              <div class="alert alert-danger" id="link-data-error-msg" style=" display: none; "></div>
              <div id="jobLinkInputBox">
                <h3>$inputdata</h3>
                <table class="table table-striped table-bordered table-condensed table-hover" >
                  <thead>
                    <tr>
                      <th>#</th>
                      <th >$datasourceType</th>
                      <th >$schooling</th>
                      <th >$database</th>
                      <th >$datatable</th>
                      <th >$subsystem</th>
                      <th >$developmentDepartment</th>
                      <th >$developmentDirector</th>
                    </tr>
                    </thead>
                  <tbody id="jobLinkInputDataBody">
                  </tbody>
                </table>
                      <table id="inputPageTable">
                        #parse ("azkaban/webapp/servlet/velocity/commonPagination.vm")
                      </table>
                      </div>
                      <div id="jobLinkOutBox">
                <h3>$outputdata</h3>
                <table class="table table-striped table-bordered table-condensed table-hover" >
                  <thead>
                    <tr>
                      <th>#</th>
                      <th >$datasourceType</th>
                      <th >$schooling</th>
                      <th >$database</th>
                      <th >$datatable</th>
                      <th >$subsystem</th>
                      <th >$developmentDepartment</th>
                      <th >$developmentDirector</th>
                    </tr>
                    </thead>
                  <tbody id="jobLinkoutputDataBody">
                  </tbody>
                </table>
                      <table id="outPageTable">
                        #parse ("azkaban/webapp/servlet/velocity/commonPagination.vm")
                      </table>
                      </div>
                        </div>
                  <!-- /applyJobLinkedView-->
      </div><!-- /col-xs-8 -->
      <div class="col-xs-6 col-sm-3 sidebar-offcanvas" style="word-break:break-all;">
        <div class="well" id="job-summary">
          <h3 style="word-break:break-all;">$job
            <small>$jobid</small>
          </h3>
          <p><strong>$jobType</strong> $jobtype</p>
        </div>

      ## Condition

        <div class="panel panel-default">
          <div class="panel-heading">$execCondi</div>
          <ul class="list-group">
            #if ($condition)
              <li class="list-group-item">$condition</li>
            #else
              <li class="list-group-item">$noCondi</li>
            #end
          </ul>
        </div><!-- /panel -->
      ## Dependencies

        <div class="panel panel-default">
          <div class="panel-heading">$dependency</div>
          <ul class="list-group">
            #if ($dependencies)
              #foreach($dependency in $dependencies)
                <li class="list-group-item">
                  <a href="javascript:void(0);" onclick="checkHrefUrlXss('/manager?project=${project.name}&flow=${flowid}&job=$dependency')">$dependency</a>
                </li>
              #end
            #else
              <li class="list-group-item">$nodependency</li>
            #end
          </ul>
        </div><!-- /panel -->

      ## Dependents

        <div class="panel panel-default" style="word-break:break-all;">
          <div class="panel-heading">$ref</div>
          <ul class="list-group">
            #if ($dependents)
              #foreach($dependent in $dependents)
                <li class="list-group-item">
                  <a href="javascript:void(0);" onclick="checkHrefUrlXss('/manager?project=${project.name}&flow=${flowid}&job=$dependent')">$dependent</a>
                </li>
              #end
            #else
              <li class="list-group-item">$noref</li>
            #end

          </ul>
        </div><!-- /panel -->

        <div class="panel panel-default">
          <div class="panel-heading">$config</div>
          <ul class="list-group">
            #if ($properties)
              #foreach($property in $properties)
                <li class="list-group-item">
                  <a href="javascript:void(0);" onclick="checkHrefUrlXss('/manager?project=${project.name}&flow=${flowid}&job=${jobid}&prop=$property')">$property</a>
                </li>
              #end
            #else
              <li class="list-group-item">$noConfig</li>
            #end
          </ul>
        </div><!-- /panel -->
      </div><!-- /col-xs-4 -->
    </div><!-- /row -->

  ## Edit job modal.

    <div class="modal modal-wide" id="job-edit-pane">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    id="close-btn">&times;
            </button>
            <h4 class="modal-title">$editJob</h4>
          </div>
          <div class="modal-body">
            <h4>$basicJobProperty</h4>
            <table class="table table-bordered table-condensed">
              <tbody>
              <tr>
                <td class="property-key">$jobName</td>
                <td id="jobName"></td>
              </tr>
              <tr>
                <td class="property-key">$jobType</td>
                <td id="jobType"></td>
              </tr>
              </tbody>
              <table>
                <h4>$ordinaryJobParamSet</h4>
                <p><strong>$att</strong>$attcontent</p>
                <table id="generalProps" class="table table-striped table-bordered">
                  <thead>
                  <tr>
                    <th class="property-key">$paramName</th>
                    <th>$paramValue</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr id="addRow">
                    <td id="addRow-col" colspan="2">
                      <button type="button" class="btn btn-xs btn-success" id="add-btn">$addOneLine
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" id="cancel-btn" data-dismiss="modal">
              $quit
            </button>
            <button type="button" class="btn btn-primary" id="set-btn">$save
            </button>
          </div>
        </div>
      </div>
    </div>


    ## 应用信息填写框
    <div class="modal" id="merge-business-panel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
            </button>
            <h4 class="modal-title">$mergeBusinessTitle</h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" id="merge-business-error-msg" style="word-break:break-all;"></div>
            <div class="alert alert-info" id="merge-business-info-msg" style="word-break:break-all;"></div>
            <input id="itsm-number"  type="hidden" value="" >
            <fieldset class="form-horizontal" style="height:600px;overflow-y:scroll;overflow-x:hidden;padding-top:10px;">
              <div class="form-group">
                <label for="batch-group-select" class="col-sm-4 control-label">$batchGroup</label>
                <div class="col-sm-7">
                  <select id="batch-group-select" class="form-control" style="width: 100%"></select>
                </div>
              </div>
              <div class="form-group">
                <label for="bus-path-select" class="col-sm-4 control-label">$busPath</label>
                <div class="col-sm-7">
                  <select id="bus-path-select"  class="form-control" style="width: 100%"></select>
                </div>
              </div>
              <div class="form-group">
                <label for="bus-domain-select" class="col-sm-4 control-label"><span class="required">*</span>$busDomain</label>
                <div class="col-sm-7">
                  <select id="bus-domain-select"  class="form-control" style="width: 100%"></select>
                </div>
              </div>
              <div class="form-group">
                <label for="subsystem-select" class="col-sm-4 control-label"><span class="required">*</span>$subsystem</label>
                <div class="col-sm-7">
                  <select id="subsystem-select" class="form-control" style="width: 100%"></select>
                </div>
              </div>
              <div class="form-group">
                <label for="bus-res-lvl-select" class="col-sm-4 control-label"><span class="required">*</span>$busResLvl</label>
                <div class="col-sm-7">
                  <select id="bus-res-lvl-select" class="form-control selectpicker" title="${selectBusResLvl}">
                    <option value="S">$busReslvS</option>
                    <option value="A">$busReslvA</option>
                    <option value="B">$busReslvB</option>
                    <option value="C">$busReslvC</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="plan-start-time" class="col-sm-4 control-label"><span class="required">*</span>$planStartTime</label>
                <div class="col-sm-7">
                  <input id="plan-start-time" type="text" class="ui-datetime-container form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="plan-finish-time" class="col-sm-4 control-label"><span class="required">*</span>$planFinishTime</label>
                <div class="col-sm-7">
                  <input id="plan-finish-time" type="text" class="ui-datetime-container form-control">
                </div>
              </div>
              <div class="form-group">
                  <label for="last-start-time" class="col-sm-4 control-label"><span class="required">*</span>$lastStartTime</label>
                  <div class="col-sm-7">
                      <input id="last-start-time" type="text" class="ui-datetime-container form-control">
                  </div>
              </div>
              <div class="form-group">
                <label for="last-finish-time" class="col-sm-4 control-label"><span class="required">*</span>$lastFinishTime</label>
                <div class="col-sm-7">
                  <input id="last-finish-time" type="text" class="ui-datetime-container form-control">
                </div>
              </div>
              <!--<div class="form-group">
                <label for="alert-level" class="col-sm-4 control-label">$alertLevel</label>
                <div class="col-sm-7">
                  <select id="alert-level" class="form-control selectpicker" title="${selectAlertLevel}">
                    <option value="1">critical</option>
                    <option value="2">major</option>
                    <option value="3">minor</option>
                    <option value="4">warn</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="dcn-number" class="col-sm-4 control-label">$dcnNumber</label>
                <div class="col-sm-7">
                  <input id="dcn-number" type="text" class="form-control" maxlength="500">
                </div>
              </div>
              <div class="form-group">
                <label for="ims-updater-select" class="col-sm-4 control-label">$imsUpdater</label>
                <div class="col-sm-7">
                  <select id="ims-updater-select" class="form-control selectpicker" data-live-search="true" title="${selectImsUpdater}" data-size="8" multiple></select>
                </div>
              </div>
              <div class="form-group">
                <label for="ims-remark" class="col-sm-4 control-label">$imsRemark</label>
                <div class="col-sm-7">
                  <div class="alert-warning" style="margin:5px">$imsRemarkTips</div>
                  <input id="ims-remark" type="text" class="form-control" maxlength="500">
                </div>
              </div>-->
              <div class="form-group">
                <label for="bus-type-first-select" class="col-sm-4 control-label">$busTypeFirst</label>
                <div class="col-sm-7">
                  <select id="bus-type-first-select" class="form-control" style="width: 100%"></select>
                </div>
              </div>
              <div class="form-group">
                <label for="bus-type-second-select" class="col-sm-4 control-label">$busTypeSecond</label>
                <div class="col-sm-7">
                  <select id="bus-type-second-select" class="form-control" style="width: 100%"></select>
                </div>
              </div>
              <div class="form-group">
                <label for="bus-desc" class="col-sm-4 control-label">$busDesc</label>
                <div class="col-sm-7">
                  <input id="bus-desc" type="text" class="form-control" maxlength="500">
                </div>
              </div>
              <div class="form-group">
                <label for="bus-dev-dept-select" class="col-sm-4 control-label"><span class="required">*</span>$devDept</label>
                <div class="col-sm-7">
                  <select id="bus-dev-dept-select" class="form-control selectpicker" data-live-search="true" title="${selectDevDept}" data-size="8"></select>
                </div>
              </div>
              <div class="form-group">
                <label for="bus-ops-dept-select" class="col-sm-4 control-label"><span class="required">*</span>$opsDept</label>
                <div class="col-sm-7">
                  <select id="bus-ops-dept-select" class="form-control selectpicker" data-live-search="true" title="${selectOpsDept}" data-size="8"></select>
                </div>
              </div>
              <div class="form-group">
                <label for="scan-partition-num" class="col-sm-4 control-label"><span class="required">*</span>$scanPartitionNum</label>
                <div class="col-sm-7">
                  <input id="scan-partition-num" type="text" class="form-control" maxlength="500">
                </div>
              </div>
              <div class="form-group">
                <label for="scan-data-size" class="col-sm-4 control-label"><span class="required">*</span>$scanDataSize</label>
                <div class="col-sm-7">
                  <input id="scan-data-size" type="text" class="form-control" maxlength="500">
                </div>
              </div>

              #*
              <div class="form-group">
                <label for="batch-time-quat" class="col-sm-4 control-label">$batchTimeQuat</label>
                <div class="col-sm-7">
                  <input id="batch-time-quat" type="text" class="form-control" maxlength="120">
                </div>
              </div>
              <div class="form-group">
                <label for="bus-err-inf" class="col-sm-4 control-label">$busErrInf</label>
                <div class="col-sm-7">
                  <input id="bus-err-inf" type="text" class="form-control" maxlength="180">
                </div>
              </div>
              <div class="form-group">
                <label for="upper-dep" class="col-sm-4 control-label">$upperDep</label>
                <div class="col-sm-7">
                  <input id="upper-dep" type="text" class="form-control" maxlength="120">
                </div>
              </div>
              <div class="form-group">
                <label for="lower-dep" class="col-sm-4 control-label">$lowerDep</label>
                <div class="col-sm-7">
                  <input id="lower-dep" type="text" class="form-control" maxlength="120">
                </div>
              </div>
              <div class="form-group">
                <label for="related_product" class="col-sm-4 control-label">$relatedProduct</label>
                <div class="col-sm-7">
                  <input id="related_product" type="text" class="form-control" maxlength="120">
                </div>
              </div>
              *#
            </fieldset>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">$cancel</button>
            <button type="button" class="btn btn-primary" id="business-merge-btn">$merge</button>
          </div>
        </div>
      </div>
    </div>

  </div><!-- /container-full -->
  #end
</body>
</html>
