#*
 * Copyright 2012 LinkedIn Corp.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
*#

<ul class="nav nav-tabs nav-sm">
  <li#if($project_page == 'flows') class="active"#end><a
      href="javascript:void(0);" onclick="checkHrefUrlXss('/manager?project=${project.name}&projectId=${project.id}')">$flowList</a></li>
  <li#if($project_page == 'permissions') class="active"#end><a id="project-permission-btn"
                                                               href="javascript:void(0);" onclick="checkHrefUrlXss('/manager?project=${project.name}&projectId=${project.id}&permissions')">$perList</a>
  </li>
  #if ($admin)
    <li#if($project_page == 'logs') class="active"#end><a id="project-logs-btn"
                                                          href="javascript:void(0);" onclick="checkHrefUrlXss('/manager?project=${project.name}&projectId=${project.id}&logs')">$proOperateRecord</a></li>
  #end
 <li#if($project_page == 'versions') class="active"#end><a id="project-versions-btn"
                                                                 href="javascript:void(0);" onclick="checkHrefUrlXss('/manager?project=${project.name}&projectId=${project.id}&versions')">$flowVersionList</a>
  </li>
  #if($project_page == 'flows')
  <li class="nav-button pull-right" id="filterJobBox" style="margin-left:15px;">
           <select id="subFlowFilterList" class="form-control" data-placeholder="$filterbytaskname" required="required"  style="margin-left:15px; width: 250px; display: block;" >
        </select>
 </li>
  <li class="nav-button pull-right" id="filterFlowBox">
           <select id="flowFilterList" class="form-control" style="width: 250px; display: block;" >
        </select>
        </li>
          #end
</ul>
